@charset "utf-8";
/*css document*/
*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("images/body_bg.png");
	background-repeat: repeat-x;
	background-color: #f7e6c0;
	color: #333;
	max-width: 100vw;
	font-family: 'Noto Serif TC', Helvetica, Arial, STHeitiTC-light, STHeiti, 
    "Microsoft JhengHei", sans-serif;
}

img{
	max-width: 90vw;
}
/**/
header {

	height: 122px;
/*
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
*/
	text-align: center;
	padding-top: 20px;
	font-size: 11px;
	letter-spacing: 8px;
	word-spacing: 1em;}

header img{
	max-width: 95vw;
}


nav{	
	height: 30px;
	text-align: center;
}

nav a{
	color: #f7e6c0;
	background-image: url("images/btn_hover.png");
	background-repeat: no-repeat;
	background-position:-9999px;
	display: inline-block;
	height: 26px;
	width: 120px;
	font-size: 17px;
	text-decoration: none;
	padding-top: 4px;	
	}

nav a:hover{
	background-position: bottom;
}

nav a.active{
	background-position: bottom;
	color: #fff;
}

nav a#tab{	
	display: none!important;
}

#banner{
	background-image: url("images/banner/banner.png");
	height: 302px;
	background-repeat: no-repeat;
	background-position: center center;
}

#main{
	background-image: url("images/main_bg.png");
	background-position: center;
	 
	width: 93vw;
	margin: 10px auto 0 auto;
/*
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.5);
*/
	box-shadow: 0 0 5px rgba(0,0,0,0.5);

}

#main:after{ 
	content: "";
	display: block;
	clear: both;
}

#content{
	width: 940px;
	max-width: 75vw;
	float: left;
    margin: auto;
}

#content h1{
	background-image: url("images/h1bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
	text-align: center;
	margin:7px auto 15px auto;
}

.iframe-container {
position: relative;
padding-bottom: 60%;
height: 0;
}

.iframe-container iframe{
	position: absolute;
	top: 0;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 80%;
}

aside{
	width: 200px;
	float: right;
	margin: 20px;
	text-align: center;
}

aside h2{	
	font-size: 1em;
	margin-bottom: 5vh;}

aside img{
	max-width: 100%;
	}

aside .adimg{
	margin-bottom: 2vh;
	border: 5px solid white;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	max-width: 90%;
}

footer{
	background-image: url("images/footer.png");
	padding-top: 13px;
	max-width: 100vw;
	height: 60px;
	text-align: center;
	font-size: 14px;
	background-repeat: repeat-x;
	
}

/*媒體查詢*/
@media screen and (min-width:1330px){
	#main{
		background: white;
	}
}

@media screen and (max-width:1270px){	
	aside{
		display:none;
	}
	
	#main{
	background: white;			
	}
	
	#main #content{
		max-width: 100%;
		float: none;
	}		
}

@media screen and (max-width:767px){	
	.hide{
		display: none;
}
	
	nav a#tab{
		display: inline-block!important; 
	}
	
	nav a{
		background-color: #624d2d;
		width: 100vw;
	}

	.show{
		display: block;
	}
	
	.iframe-container iframe{
		left: 5%;
		right: 5%;
		width: 90%;
	}
}

